.CartListContainer {
  padding: 30px;
  text-align: center;
}

.Cart {
  text-align: center;
  margin-top: 50px;
}

.showMovies {
  margin-top: "300x";
}

.cartList {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.cartDetail {
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  outline: 2px solid black;
  flex: 1;
  margin: 5px 5px;
  width: auto;
  height: auto;
}

.clearCartButton {
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  flex: 1;
  margin: 5px 5px;
  width: auto;
  height: auto;
}

.totalPrice {
  padding: 30px;
  text-align: center;
}

.noProducts {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding-top: 0px;
  padding-bottom: 10px;
  text-decoration: none;
}


.ItemCount {

  display: flex;
  list-style-type: none;
  padding: 40px 25px;
  align-items: center;
  justify-content: center;

}


.productImage {
  height: 400px;
  width: 400px}

  .noProducts {
    padding-top: 20px;
    text-decoration: none;
    font-size: 1.5rem;
   
  }


  .noProducts a {
    text-decoration: none;
    color: black
   
  }

  .noProductsButton{
    margin-top: 20px;
}


.yourCart {
  padding-top: 20px;
    text-decoration: none;
    font-size: 3rem;
    color: #006e99;
  
}

.table td, .table th {
  border-top: none;
}

.yourCart2 {
    text-decoration: none;
    font-size: 2.5rem;
    color: #006e99;
    padding-bottom: 20px
}

.subtotal {
  margin-top: 30px;
}