  

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



.Item {
    text-align: center;
    box-sizing: border-box;
	padding: 20px;
	outline: 2px solid black;
	flex: 1;
    margin: 5px 5px;
    width:auto;
    height: auto;
    
   
}

.imageCard{
    width:auto;
    height: 250px;
    object-fit: scale-down;
    padding: 5px;
}

.tarjetaProd {
    margin:1.5rem;
    outline: solid 5px #006e99;
}

.cardText {
    font-family: "Lato", sans-serif
}
