  
.Item {
    text-align: center;

    box-sizing: border-box;
	padding: 20px;
	outline: 2px solid black;
	flex: 1;
    margin: 5px 5px;
    width:auto;
    height: auto;
    
   
}

.productImage {
    height: 400px;
    width: 400px}