.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  

}
.logo {
  width: 10%;
  padding-left: 10px;
  padding-top: 5px;
}

.navigationLinks {

  display: flex;
  list-style-type: none;
  padding: 0 25px;

}

.navLink {
 
  margin: 0 40px;
  
} 

a {

  text-decoration: none;
  color:#006e99;
}