

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



.footerText {
	font-family: "Lato", sans-serif;
	text-align: center;
	align-items: center;
	font-size: 1.5rem;
	color: #006e99;
	padding-top: 30px;
	
}

.reactLogo {
	padding-left: 20px;
	padding-right: 20px;
	
}