.ItemList {
    text-align: center;
    margin-top:50px;
    
    
}

.showMovies {
    margin-top: "300x";
    
    
}

.movieList {
    position: relative;
	display: flex;
	flex-flow: row wrap;
    
}

